
p{
    font-weight:bold;
    letter-spacing:1px;
    word-spacing:2px;
    
}
.intro{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
    align-items: center;
    height:100vh;
}
.intro img{
    width:10em;
    height:auto;
    border-radius:30%;
}
.second-half{
    display: flex;
    flex-flow:row wrap;
    width:50%;
    align-items:center;
    gap:1em;
    justify-content: center;
}
.first-half{
    width:50%;
    padding-right:10px;
}
.first-half h1{
    font-size:50px;
    text-align:center;
    font-weight:bold;
    text-shadow:0px 2px 5px black;
}
.info{
    background-color:#190B28;
    height:100%;
    color:#ffe;
    text-align:center;
    padding: 20px;
}
.info h1{
    font-family: 'Oswald', sans-serif;

}
.info > div:not(:last-child) {
    margin-bottom:100px;
}
.info img{
    width:50%;
    height:auto;
    border-radius:20%;
}
.hidden{
    opacity:0;
    transform:translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.show{
    opacity:1;
    transform:translateY(0);
}
@media (max-width:768px){
    .second-half h1{
        font-size:40px;
    }
}
@keyframes tiltShake {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
  }
.tilt{
    display: inline-block; /* Prevents line breaks within the shaking text */
    animation: tiltShake 5s ease-in-out infinite; 
}  
@keyframes float-1{
    0%{
 transform:translateY(30px);
    }
    100%{
transform:translateY(-20px)
    }
}
.float-1{
    animation: float-1 3s infinite ease-in-out alternate;
}
@keyframes float-2{
    0%{
 transform:translateY(-20px);
    }
    100%{
transform:translateY(40px)
    }
}
.float-2{
    animation: float-2 3s infinite ease-in-out alternate;
}
@keyframes float-3{
    0%{
 transform:translateY(40px);
    }
    100%{
transform:translateY(-20px)
    }
}
.float-3{
    animation: float-3 3s infinite ease-in-out alternate;
}
@keyframes float-4{
    0%{
 transform:translateY(-80px);
    }
    100%{
transform:translateY(20px)
    }
}
.float-4{
    animation: float-4 3s infinite ease-in-out alternate;
}

