form{
    box-shadow:0px 2px 10px black;
    width:65%;
    margin:0 auto;
    height:50vh;
}
fieldset{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
    height:100%;
}
input{
    width:60%;
    background-color:#ffe;
    border:1px solid;
    margin:5px;
    height:40px;
}
.my-btn{
    display: flex;
    justify-content:center;
}
label{
    font-weight:bolder;
    text-shadow:1px 1px 2px;
    font-size:1.2rem;
}