*{
  margin:0;
  box-sizing:border-box;
  }
  body{
    background-color:#ffe;
    border: solid;
}    
.txt-color-one{
  color:#190B28;
  padding:20px;
  font-family: 'Oswald', sans-serif;
  text-align:center;
}
header{
  position:fixed;
  width:100%;
  top:0;
  background-color:#190B28;
}
.nav-container{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items:center;
  border:solid;
}
.a{
  text-decoration:none;
  color:white;
  padding:15px 20px;
  cursor:pointer;
}
.a:hover{
  border:1px solid;
}
.a:active{
  opacity:0.7;
}
.choose{
text-align:center;
  font-size:35px;
  padding:5px;
}
main{
  max-width:90%;
    margin:20px auto;
    margin-top:10px;
   box-shadow:0px 5px 20px black;
  }
  
ul{
list-style:none;
}
ul li{
text-align:left;
  font-size:20px;
  margin-bottom:10px;
  font-weight:bold;
}
ul li i{
width:15px;
}

.h1{
  font-size:40px;
  text-align:right;
  padding-left:120px;
  font-family: 'Oswald', sans-serif;
}
.h2{
margin-bottom:10px;
  padding-left:30px;
}
.card-header{
   background:linear-gradient(45deg, #190B28 60%, white 40%);
  width:15em;
}
.card-header h1{
   color:white;
    top:20%;
    padding:5px;
    text-shadow:0px 5px 20px white;

  }
.pricing-container{
  display:flex;
  flex-flow: row wrap;
  justify-content:space-around;
}
.pricing-item{
   margin:10px;
   width:250px;
   background-color:white;
   display:inline-block;
   height:100%;
}
.main{
  box-shadow:0px 5px 15px black;
background:linear-gradient(-45deg, white 70%,  #190B28 30%);
  text-align:center;
  padding:1em;
}
.btn{
  margin-top:30px; 
  padding:10px 50px;
  border:none;
  color:white;
  background-color:#190B28;
}
.btn:hover{
 cursor:pointer;
  background-color:#ffe;
  color:#190B28;
  border:1px solid black;
}
.slide-in {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

.slide-in.show {
  opacity: 1;
  transform: translateX(0);
}
